.box-detail-container {
  margin: 64px auto 64px auto;
  width: 90% !important;

  & .left-column {
    width: 40%;
  }

  & .right-column {
    width: 60% !important;
  }

  & .rigth & .title-box {
    font-size: 32px;
    color: #242424;
  }
  & .sub {
    margin-bottom: 24px;
  }
  & .price-box {
    font-size: 16px;
    color: #484856;
    margin-top: 12px;
    margin-bottom: 180px;
  }
  & .suscription-title {
    margin-bottom: 12px;
  }
  & .suscription-container {
    background: #fafcfe;
    padding: 48px 64px;
    & img {
      margin-right: 24px;
    }
    & p {
      margin-bottom: 24px;
    }
  }

  & .button-unsubscribe {
    height: fit-content;
    background: #ff1d61;
  }
}
