@import "~styles/abstracts/mixins";
@import "~styles/abstracts/variables";

.register-form {
  & .field {
    width: 48% !important;
    @include responsive(mobile) {
      width: 100% !important;
      margin: 12px 0;
    }
  }
  & .large {
    width: 100% !important;
  }
  & .container-field {
    margin: 24px 0;
    @include responsive(mobile) {
      margin: 0px;
    }
  }
  .submit-button {
    margin: 48px 0;
  }
}
